$org: #ffa720;
$drk-org: #FA5E00;
$wht: white;
%frc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font:400 16px/16px 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

 }

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $org;
  min-height: 100px;
  color: $wht;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 30px;
}

.container:nth-child(2n){
  border: 1px $org dashed;
}

.row {
  //outline: 1px black solid;
  min-width: 350px;
  max-width: 1000px;
  margin: 0 auto;

}

.header-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.header-info h1{
  font-size: 16px;
  margin-right: 20px;
}

h2{
  color: $org;
  font-size: 16px;
  text-align: center;
  padding: 0 15px;
  text-transform: uppercase;
}

.switcher-form{
  @extend %frc;
}

.switcher{
  margin: 20px;
}

.submit{
  background-color: $org;
  height: 40px;
  padding: 0  15px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  color: $wht;
}

.calculator{
  margin-top: 70px;
}

.calculator-form{
  @extend %frc;
  margin-top: 20px;
}

.col5{
  flex-basis: 40%;
}

.col1{
  flex-basis: 10%;
}

.col12{
  flex-basis: 100%;
}

.calc-from, .calc-to{
  @extend %frc;
  margin-top: 20px;
}

.calc-input{
  width: 80px;
  border: none;
  font-size: 20px;
  margin-right: 20px;
}

.calculator-form p{
  text-align: center;
}

.exchange-icone{
  font-size: 30px;
  color: $org;
  text-align: center;
}

select, option{
  font-size: 20px;
  border: none;
  text-transform: uppercase;
}

.calc-to .calc-sum {
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.calc-submit{
  text-align: center;
  margin: 20px 0;
}

.history{
  margin-top: 40px;
}

.history-row{
  @extend %frc;
  width: 100%;

}

.history-item {
  flex-basis: 25%;
  text-align: center;
  border: 1px grey dashed;
}

.history-row:nth-child(1){
  font-weight: bold;
}

